@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model IEnumerable<Project.Zap.Models.PartnerOrganizationViewModel>

    <h3>@Localizer["Title"]</h3>
    <table class="table">
        <tr>
            <th>@Localizer["TableName"]</th>
            <th>@Localizer["TableRegCode"]</th>
            <th>@Localizer["TableDelete"]</th>
        </tr>

        @if (Model != null && Model.Any())
        {
    @foreach (var org in Model)
    {
    <tr>
        <td>@org.Name</td>
        <td>@org.RegistrationCode</td>
        <th><a asp-controller="PartnerOrganization" asp-action="DeletePartner" asp-route-id="@org.Name">@Localizer["DeleteButton"]</a></th>
    </tr>}}
    </table>