@{
                @using Microsoft.AspNetCore.Mvc.Localization

                            @inject IViewLocalizer Localizer
}

@model Project.Zap.Models.AddShiftViewModel

<h3>@Localizer["Title"]</h3>

<form asp-controller="Shifts" asp-action="AddShift" method="Post">
    <div class="form-group">
        <label asp-for="@Model.NewShift.LocationName"></label>
        <select asp-for="@Model.NewShift.LocationName" asp-items="@Model.LocationNames">
        </select>
        <span asp-validation-for="@Model.NewShift.LocationName"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.Start"></label>
        <input type="datetime-local" asp-for="@Model.NewShift.Start" class="form-control" />
        <span asp-validation-for="@Model.NewShift.Start"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.End"></label>
        <input type="datetime-local" asp-for="@Model.NewShift.End" class="form-control" />
        <span asp-validation-for="@Model.NewShift.End"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.Quantity"></label>
        <input type="text" asp-for="@Model.NewShift.Quantity" class="form-control" />
        <span asp-validation-for="@Model.NewShift.Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.WorkType"></label>
        <input type="text" asp-for="@Model.NewShift.WorkType" class="form-control" />
        <span asp-validation-for="@Model.NewShift.WorkType"></span>
    </div>
    <input type="hidden" asp-for="@Model.NewShift.Available" />
    <button type="submit" class="btn btn-primary mb-2">@Localizer["AddButton"]</button>
</form>

@section Scripts
{
    <script>
        $.validator.addMethod('datelessthan', function (value, element, params) {
            var compareDateId = "#NewShift_" + params[0].dataset.valDatelessthanProperty;
            var compareValue = $(compareDateId).val()

            return value < compareValue;
        });

        $.validator.unobtrusive.adapters.add('datelessthan', ['property'], function (options) {
            options.rules['datelessthan'] = [options.element, parseInt(options.params['property'])];
            options.messages['datelessthan'] = options.message;
        });

        $.validator.addMethod("datemustbeequalorgreaterthancurrent", function (value, element, param) {
            var startDate = $("#NewShift_Start").val();
            var today;
            var currentDate = new Date();
            var year = currentDate.getYear();
            var month = currentDate.getMonth() + 1;  // added +1 because javascript counts month from 0
            var day = currentDate.getDate();
            var hours = currentDate.getHours();
            var minutes = currentDate.getMinutes();
            var seconds = currentDate.getSeconds();

            today = month + '/' + day + '/' + year + '  ' + hours + '.' + minutes + '.' + seconds;

            if (startDate <= today) {
                return false;
            }
            return true;
        });

        $.validator.unobtrusive.adapters.addBool("datemustbeequalorgreaterthancurrent");

    </script>
}