@{
    @using Microsoft.AspNetCore.Authorization
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
    @inject IAuthorizationService AuthorizationService
}


@model Project.Zap.Models.SearchShiftViewModel

    <div class="container">

        <h1 class="mb-3">@Localizer["Title"]</h1>

        @if (ViewData.ContainsKey("ValidationError"))
        {
            <div class="alert alert-danger">
                <strong>@Localizer["ErrorTitle"]</strong> @ViewData["ValidationError"]
            </div>
        }

        @if (ViewData.ContainsKey("SuccessMessage"))
        {
            <div class="alert alert-success">
                <strong>@Localizer["SuccessTitle"]</strong> @ViewData["SuccessMessage"]
            </div>
        }
        
        <partial name="Search" model="new Project.Zap.Models.SearchShiftViewModel { LocationNames = Model.LocationNames }" />

        <h3 class="mt-3">@Localizer["ResultsTitle"]</h3>
        @if (Model.Result != null)
        {
            <div class="row">
                <div class="d-none d-xs-block d-sm-block col-md-4 font-weight-bold mt-2">@Localizer["TableStore"]</div>
                <div class="d-none d-xs-block d-sm-block col-md-2 font-weight-bold mt-2">@Localizer["TableStart"]</div>
                <div class="d-none d-xs-block d-sm-block col-md-2 font-weight-bold mt-2">@Localizer["TableEnd"]</div>
                <div class="d-none d-xs-block d-sm-block col-md-2 font-weight-bold mt-2">@Localizer["TableWorkType"]</div>
                <div class="d-none d-xs-block d-sm-block col-md-1 font-weight-bold mt-2">@Localizer["TableAvailable"]</div>
                @if ((await AuthorizationService.AuthorizeAsync(User, "OrgAManager")).Succeeded)
                {
                    <div class="d-none d-xs-block d-sm-block col-md-1 font-weight-bold mt-2 invisible">@Localizer["TableView"]</div>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "OrgBEmployee")).Succeeded)
                {
                    <div class="d-none d-xs-block d-sm-block col-md-1 font-weight-bold mt-2 invisible" style="visibility:hidden" >@Localizer["TableBook"]</div>
                }
            </div>
            @foreach (var shift in Model.Result)
            {
                <div class="row">
                    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableStore"]</div>
                    <div class="col-xs-6 col-sm-6 col-md-4 mt-2">@shift.LocationName</div>

                    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableStart"]</div>
                    <div class="col-xs-6 col-sm-6 col-md-2 mt-2">@shift.Start.ToString("MM/dd/yyyy HH:mm")</div>

                    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableEnd"]</div>
                    <div class="col-xs-6 col-sm-6 col-md-2 mt-2">@shift.End.ToString("MM/dd/yyyy HH:mm")</div>


                    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableWorkType"]</div>
                    <div class="col-xs-6 col-sm-6 col-md-2 mt-2">@shift.WorkType</div>

                    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableAvailable"]</div>
                    <div class="col-xs-6 col-sm-6 col-md-1 mt-2">@shift.Available / @shift.Quantity</div>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "OrgAManager")).Succeeded)
                    {
                        <a class="btn btn-primary col-xs-6 col-sm-6 col-md-1 mt-2" asp-controller="Shifts" asp-action="ViewShift" asp-route-LocationName="@shift.LocationName" asp-route-Start="@shift.Start.ToString("yyyy-MM-ddTHH:mm")" asp-route-End="@shift.End.ToString("yyyy-MM-ddTHH:mm")" asp-route-WorkType="@shift.WorkType" asp-route-Quantity="@shift.Quantity" asp-route-Available="@shift.Available">@Localizer["LinkView"]</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "OrgBEmployee")).Succeeded)
                    {
                        <a class="btn btn-primary col-xs-6 col-sm-6 col-md-1 mt-2" asp-controller="Shifts" asp-action="Book" asp-route-LocationName="@shift.LocationName" asp-route-Start="@shift.Start.ToString("yyyy-MM-ddTHH:mm")" asp-route-End="@shift.End.ToString("yyyy-MM-ddTHH:mm")" asp-route-WorkType="@shift.WorkType">@Localizer["LinkBook"]</a>
                    }
                </div>
            }
        }
    </div>

