@{
                @using Microsoft.AspNetCore.Mvc.Localization

                            @inject IViewLocalizer Localizer
}

@model IEnumerable<Project.Zap.Models.ShiftViewModel>

@{ ViewData["Title"] = @Localizer["Title"]; }

<h1 class="mb-3">@Localizer["Title"]</h1>


@if(ViewData.ContainsKey("NoShifts"))
{
<div class="alert alert-info">
    <strong>@ViewData["NoShifts"]</strong> 
</div>
}

@if(Model != null && Model.Any())
{
<div class="container">
    <div class="row">
        <div class="d-none d-xs-block d-sm-block col-md-4 font-weight-bold mt-1 mb-1">@Localizer["TableStoreName"]</div>
        <div class="d-none d-xs-block d-sm-block col-md-4 font-weight-bold mt-1 mb-1">@Localizer["TableStart"] - @Localizer["TableEnd"]</div>
        <div class="d-none d-xs-block d-sm-block col-md-2 font-weight-bold mt-1 mb-1">@Localizer["TableWorkType"]</div>
        <div class="d-none d-xs-block d-sm-block col-md-2 font-weight-bold invisible mt-1 mb-1">@Localizer["TableCancel"]</div>
    </div>
    @foreach (var shift in Model)
    {
<div class="row">
    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableStoreName"]</div>
    <div class="col-xs-6 col-sm-6 col-md-4 my-auto">@shift.LocationName</div>

    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableStart"] - @Localizer["TableEnd"]</div>
    <div class="col-xs-6 col-sm-6 col-md-4 my-auto">
        @shift.Start.ToString("d", System.Threading.Thread.CurrentThread.CurrentUICulture) @shift.Start.ToString("HH:mm") - @shift.End.ToString("d", System.Threading.Thread.CurrentThread.CurrentUICulture) @shift.End.ToString("HH:mm")
    </div>

    <div class="d-block d-xs-none d-sm-none col-xs-6 col-sm-6 font-weight-bold mt-2">@Localizer["TableWorkType"]</div>
    <div class="col-xs-6 col-sm-6 col-md-2 my-auto">@shift.WorkType</div>

    <a class="btn btn-danger col-xs-6 col-sm-6 col-md-2 mt-1 mb-1" asp-controller="Shifts" asp-action="CancelShift" asp-route-LocationName="@shift.LocationName" asp-route-Start="@shift.Start.ToString("yyyy-MM-ddTHH:mm")" asp-route-End="@shift.End.ToString("yyyy-MM-ddTHH:mm")" asp-route-WorkType="@shift.WorkType">@Localizer["CancelButton"]</a>

</div>}
</div>

}

