@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@{
    var employees = ViewData["Employees"] as List<string>;
}


@model Project.Zap.Models.ShiftViewModel

<h1>@Localizer["Title"]</h1>

<dl class="row">

    <dt class="col-sm-3">@Localizer["TableStoreName"]</dt>
    <dd class="col-sm-9">@Model.LocationName</dd>

    <dt class="col-sm-3">@Localizer["TableStart"]</dt>
    <dd class="col-sm-9">@Model.Start</dd>

    <dt class="col-sm-3">@Localizer["TableEnd"]</dt>
    <dd class="col-sm-9">@Model.End</dd>

    <dt class="col-sm-3 text-truncate">@Localizer["TableWorkType"]</dt>
    <dd class="col-sm-9">@Model.WorkType</dd>

    <dt class="col-sm-3">@Localizer["TableQuantity"]</dt>
    <dd class="col-sm-9">@Model.Quantity</dd>

    <dt class="col-sm-3">@Localizer["TableAvailable"]</dt>
    <dd class="col-sm-9">@Model.Available</dd>

    <dt class="col-sm-3">@Localizer["Employees"]</dt>
    <dd>

        <ul>
            @if (ViewData.ContainsKey("NoEmployees"))
            {
                <li>@ViewData["NoEmployees"]</li>
            }
            else
            {
                @foreach (var employee in employees)
                {
                    <li>@employee</li>
                }
            }
        </ul>
    </dd>


</dl>

<a class="btn btn-danger col-xs-6 col-sm-6 col-md-2" asp-controller="Shifts" asp-action="Delete" asp-route-LocationName="@Model.LocationName" asp-route-Start="@Model.Start.ToString("yyyy-MM-ddTHH:mm")" asp-route-End="@Model.End.ToString("yyyy-MM-ddTHH:mm")" asp-route-WorkType="@Model.WorkType">@Localizer["Delete"]</a>



