@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model Project.Zap.Models.OrganizationViewModel

    <h3>@Localizer["StoresTitle"]</h3>
    <table class="table">
        <tr>
            <th>@Localizer["ColumnTitleName"]</th>
            <th>@Localizer["ColumnTitleCity"]</th>
            <th>@Localizer["ColumnTitleZipOrPostCode"]</th>
            <th>@Localizer["ColumnTitleEdit"]</th>
            <th>@Localizer["ColumnTitleDelete"]</th>
        </tr>
        @foreach (var store in Model.Stores)
        {
    <tr>
        <td>@store.Name</td>
        <td>@store.Address.City</td>
        <td>@store.Address.ZipOrPostCode</td>
        <th><a asp-controller="Organization" asp-action="EditStore" asp-route-id="@store.Name">@Localizer["Edit"]</a></th>
        <th><a asp-controller="Organization" asp-action="DeleteStore" asp-route-id="@store.Name">@Localizer["Delete"]</a></th>
    </tr>}
    </table>
