@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model Project.Zap.Models.OrganizationViewModel

<div class="text-center">
    <h1 class="display-4">@Localizer["SetupTitle"]</h1>
    <h3>@Localizer["SubTitle"]</h3>

    <form asp-controller="Organization" asp-action="Setup" method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input type="text" asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">@Localizer["AddButton"]</button>
    </form>
</div>
