@{
    @using Microsoft.AspNetCore.Authorization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Configuration

    @inject IAuthorizationService AuthorizationService
    @inject IViewLocalizer Localizer
    @inject IConfiguration Configuration
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Configuration["OrganizationName"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="bg"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Configuration["OrganizationName"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "OrgAManager")).Succeeded)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">@Localizer["ManageOrganization"]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Index">@Localizer["View"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Add">@Localizer["Add"]</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">@Localizer["PartnerOrganizations"]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PartnerOrganization" asp-action="Index">@Localizer["View"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PartnerOrganization" asp-action="Add">@Localizer["Add"]</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">@Localizer["Shifts"]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "OrgAManager")).Succeeded)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="Index">@Localizer["Search"]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="Add">@Localizer["Add"]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="Upload">@Localizer["Upload"]</a>
                                        </li>
                                    }
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "OrgBEmployee")).Succeeded)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="ViewShifts">@Localizer["MyShifts"]</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="Index">@Localizer["BookShifts"]</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Powered by<img src="~/img/MS-Azure-logo.png" alt="Microsoft Azure logo"><a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
            @if (User.Identity.IsAuthenticated)
            {
                <span> - </span><a asp-controller="DataRequest" asp-action="Index">@Localizer["DataRequest"]</a>
            }
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
