@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["ErrorTitle"]</h1>
<h2 class="text-danger">@Localizer["ErrorSubTitle"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["ErrorId"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevTitle"]</h3>
<p>
    @Localizer["DevSubTitle"]
</p>
<p>
    @Localizer["DevMessage"]
</p>
