@{
                @using Microsoft.AspNetCore.Mvc.Localization

                            @inject IViewLocalizer Localizer
}

@model Project.Zap.Models.SearchShiftViewModel

<h3>@Localizer["Title"]</h3>

<form asp-controller="Shift" asp-action="AddShift" method="Post">
    <div class="form-group">
        <label asp-for="@Model.NewShift.LocationName"></label>
        <select asp-for="@Model.NewShift.LocationName" asp-items="@Model.LocationNames">
        </select>
        <span asp-validation-for="@Model.NewShift.LocationName"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.Start"></label>
        <input type="datetime-local" asp-for="@Model.NewShift.Start" class="form-control" />
        <span asp-validation-for="@Model.NewShift.Start"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.End"></label>
        <input type="datetime-local" asp-for="@Model.NewShift.End" class="form-control" />
        <span asp-validation-for="@Model.NewShift.End"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.Quantity"></label>
        <input type="text" asp-for="@Model.NewShift.Quantity" class="form-control" />
        <span asp-validation-for="@Model.NewShift.Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewShift.WorkType"></label>
        <input type="text" asp-for="@Model.NewShift.WorkType" class="form-control" />
        <span asp-validation-for="@Model.NewShift.WorkType"></span>
    </div>
    <input type="hidden" asp-for="@Model.NewShift.Available" />
    <button type="submit" class="btn btn-primary mb-2">@Localizer["AddButton"]</button>
</form>

@section Scripts
{
    <script>
        $.validator.addMethod('datelessthan', function (value, element, params) {
            var compareDateId = "#NewShift_" + params[0].dataset.valDatelessthanProperty;
            var compareValue = $(compareDateId).val()

            return value < compareValue;
        });

        $.validator.unobtrusive.adapters.add('datelessthan', ['property'], function (options) {
            options.rules['datelessthan'] = [options.element, parseInt(options.params['property'])];
            options.messages['datelessthan'] = options.message;
        });
    </script>
}