@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}


@model Project.Zap.Models.SearchShiftViewModel

<form asp-controller="Shift" asp-action="Search" method="post">
    <div class="form-group">
        <label asp-for="@Model.Location" class="search"></label>
        <select asp-for="@Model.Location" asp-items="@Model.LocationNames" class="col-md-4">
        </select>
        <span asp-validation-for="@Model.Location"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Start" class="search"></label>
        <input type="datetime-local" asp-for="@Model.Start" class="col-md-4" />
        <span asp-validation-for="@Model.Start"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="@Model.Available"></label>
        <input type="checkbox" asp-for="@Model.Available" />
        <span asp-validation-for="@Model.Available"></span>
    </div>

    <button type="submit" class="btn btn-primary mb-2 col-md-1">@Localizer["SearchButton"]</button>
</form>