@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}


@model Project.Zap.Models.SearchShiftViewModel

<form asp-controller="Shift" asp-action="Search" method="post">
    <div class="form-group">
        <label asp-for="@Model.NewShift.StoreName"></label>
        <select asp-for="@Model.NewShift.StoreName" asp-items="@Model.StoreNames">
            <option value="">@Localizer["SelectStore"]</option>
        </select>
        <span asp-validation-for="@Model.NewShift.StoreName"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewShift.Start"></label>
        <input type="datetime-local" asp-for="@Model.NewShift.Start" />
    </div>
    <span asp-validation-for="@Model.NewShift.Start"></span>
    <button type="submit" class="btn btn-primary mb-2">@Localizer["SearchButton"]</button>
</form>