@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}


@model Project.Zap.Models.ShiftViewModel

<h1>@Localizer["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["TableStoreName"]</th>
            <th>@Localizer["TableStart"]</th>
            <th>@Localizer["TableEnd"]</th>
            <th>@Localizer["TableWorkType"]</th>
            <th>@Localizer["TableEmployee"]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.StoreName</td>
            <td>@Model.Start</td>
            <td>@Model.End</td>
            <td>@Model.WorkType</td>
            <td>@ViewData["Employee"]</td>
        </tr>
    </tbody>
</table>

