@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model IEnumerable<Project.Zap.Models.ShiftViewModel>

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>


@if (ViewData.ContainsKey("NoShifts"))
{
    <div class="alert alert-info">
        <strong>@Localizer["ErrorTitle"]</strong> @ViewData["NoShifts"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["TableStoreName"]</th>
            <th>@Localizer["TableStart"]</th>
            <th>@Localizer["TableEnd"]</th>
            <th>@Localizer["TableWorkType"]</th>
            <th>@Localizer["TableCancel"]</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var shift in Model)
        {
            <tr>
                <td>@shift.StoreName</td>
                <td>@shift.Start</td>
                <td>@shift.End</td>
                <td>@shift.WorkType</td>
                <td>
                    <a asp-controller="Shift" asp-action="CancelShift" asp-route-StoreName="@shift.StoreName" asp-route-Start="@shift.Start.ToString("yyyy-MM-ddTHH:mm")" asp-route-End="@shift.End.ToString("yyyy-MM-ddTHH:mm")" asp-route-WorkType="@shift.WorkType">@Localizer["CancelButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

