@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

@model Project.Zap.Models.AddLocationViewModel

<h3>@Localizer["NewStoreTitle"]</h3>

<form asp-controller="Locations" asp-action="AddLocation" method="Post">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name"></span>
    </div>
    <h5>Address</h5>
    <div class="form-group">
        <label asp-for="@Model.ZipOrPostcode"></label>
        <input type="text" asp-for="@Model.ZipOrPostcode" class="form-control" />
        <span asp-validation-for="@Model.ZipOrPostcode"></span>
    </div>
    @if (Model?.Addresses != null)
    {
        <div class="form-group">
            <label asp-for="@Model.Address"></label>
            <select asp-for="@Model.Address" asp-items="@Model.Addresses">
            </select>
            <span asp-validation-for="@Model.Address"></span>
        </div>
    }

<button type="submit" class="btn btn-primary mb-2">

    @if (Model?.Addresses != null)
    {
        @Localizer["Add"]
    }
    else
    {
        <span>Lookup</span>
    }
    </button>
</form>
